.buttons_box{
position: relative;
margin: 0 auto;
max-width: 600px;
border-style: solid;
border-radius: 15px;
height: 500px;
}

.display_box{
}

#play_button i{
  position: relative;
 border-radius: 25px;
 font-size: 100px;
 width: 100px;
 height: 100px;

}
#pause_button i{
  position: relative;
  border-radius: 25px;
  font-size: 100px;
  width: 100px;
  height: 100px;
  }

#skip_button i{
  position: relative;
  border-radius: 25px;
  font-size: 100px;
  width: 100px;
  height: 100px;
}
#previous_button i{
  position: relative;
  border-radius: 25px;
  font-size: 100px;
  width: 100px;
  height: 100px;
}
#stop_button i{
  position: relative;
  border-radius: 25px;
  font-size: 100px;
  width: 100px;
  height: 100px
}
